<!DOCTYPE html>
<html ng-app="taskApp">
<head>
  <title>Task Tracker</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <script src="app.js"></script>
  <script src="controllers/taskController.js"></script>
</head>
<body ng-controller="TaskController">
  <h2>My Task Tracker</h2>
  <input ng-model="newTask.title" placeholder="Enter a task">
  <button ng-click="addTask()">Add</button>

  <ul>
    <li ng-repeat="task in tasks">
      <input type="checkbox" ng-model="task.isDone" ng-change="updateTask(task)">
      {{ task.title }}
      <button ng-click="deleteTask(task.id)">Delete</button>
    </li>
  </ul>
</body>
</html>
